div {
    background-color: rgb(59, 119, 178);
}
ion-content::content{
    background-color: rgb(59, 119, 178);
}
.uno-background-color{
    --background: #c6c935;
}
.dos-background-color{
    --background: #d6881c;
}
.tres-background-color{
    --background: #1c63d6;
}
.cuatro-background-color{
    --background: #d521ba;
}
.cinco-background-color{
    --background: #a8406b;
}